.ui.segment:first-child {
  margin-top: 1em;
}

.ui.form .fields {
  margin: 0;
}

.ui.form .fields>.field{
  padding-left: 0;
}

input.mini {
  width: 80px !important;
  margin-right: 10px !important;
}

.text {
  width: auto;
  margin-right: 10px;
  display: inline-block;
}